<% layout('./layout') %>
<table width="600" border="0" cellspacing="0" cellpadding="10" align="center" style="background: #fff8f8; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400; border: 1px solid #da6927;">
  <tr>
    <td align="center" style="border-bottom: 2px solid #da6927; background: #da6927;"><h1 style="font-size: 18px; color: #FFF; font-weight: 400; text-transform: uppercase;">Feedcourt</h1></td>
  </tr>
  <tr>
    <td style="padding-bottom: 0px;">
	<table width="70%" border="0" cellspacing="0" cellpadding="6" align="center" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
  <tr>
    <td style="color: #5d5d5d; text-transform: uppercase; font-size: 13px; font-weight: 700;" width="30%">Name</td>
    <td>Sanatan Sadhukha</td>
  </tr>
  <tr>
    <td style="color: #5d5d5d; text-transform: uppercase; font-size: 13px; font-weight: 700;" width="20%">Email</td>
    <td>sanatan-sadhukha.2015@gmail.com</td>
  </tr>
  <tr>
    <td style="color: #5d5d5d; text-transform: uppercase; font-size: 13px; font-weight: 700;" width="20%">Employee ID</td>
    <td>TIT01254</td>
  </tr>
  <tr>
    <td style="color: #5d5d5d; text-transform: uppercase; font-size: 13px; font-weight: 700;" width="20%">Password</td>
    <td>nopass123</td>
  </tr>
</table>

	</td>
  </tr>
  <tr>
    <td style="font-size: 12px; color: #2e2e2e; line-height: 24px; text-align: justify;">Your order details    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in mollis neque. Pellentesque vitae augue sit amet elit aliquam vehicula. Nunc eleifend orci ex, in volutpat lectus vehicula eget. Nullam consequat mi vitae lorem vehicula auctor. Sed a leo ut purus ultrices bibendum. Nulla facilisi. Morbi urna lorem, imperdiet a luctus eu, placerat at tortor. Nam semper purus egestas tellus aliquet, in gravida dui placerat. Donec sodales magna vitae elit ornare bibendum.</td>
  </tr>
  <tr><td height="10"></td></tr>

</table>


