      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Foodcourt Detail</h4>
      </div>
      <div class="modal-body" data-ng-if="customerCtrl.customerDetail">
      <div class="col-lg-12">
          <div class="col-xs-7 modal-image-container">
              <a href="javascript:void(0)" class="thumbnail">
                  <img src="/static/assets/upload/xx.jpg" class="img-rounded center-block" alt="Cinque Terre">
              </a>
          </div>
        </div>
        <% if(dataJsonArr.data!=undefined && dataJsonArr.status!=undefined && dataJsonArr.status=='success'){ %>
            <% for(var i=0;i<=dataJsonArr.data.length;i++){ %>
            <%=dataJsonArr.data[i].orderMaster%>
                
            <% } %>
        <% }else{ %>
         <tbody><tr>No Result Found.</tr></tbody>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>