      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Menu</h4>
      </div>
      <form role="form" method="post" action="/portal/add_menu/<%= restaurant_id %>" id="addMenu" name="addMenu" enctype="multipart/form-data" >
      
      <input  type="hidden" name="restaurant_id" value="<%= restaurant_id %>" >
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              <!--<div class="col-md-6">-->
              <!--    <div class="form-group">-->
              <!--        <label>Cuisine:</label>-->
              <!--        <select class="form-control required" name="cuisine">-->
              <!--            <option value="">---Select Cuisine---</option>-->
              <!--        </select>-->
              <!--    </div>-->
              <!--</div>-->
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Group:</label>
                      <select class="form-control required" name="menu_group_id">
                          <option value="">---Select Group---</option>
                      </select>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Title:</label>
                    <input  type="text" name="title" class="form-control required" autofocus >
                </div>
              </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Price:</label>
                    <input  type="text" name="price" class="form-control required decimal">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Unit:</label>
                    <input  type="text" name="unit"  class="form-control required" >
                    <input type="hidden" name="unit_id" value="0"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Order:</label>
                    <input  type="text" name="order_sequence"  class="form-control" id="orderSequence" value="0">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Description:</label>
                    <textarea name="description" class="form-control required"></textarea>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
      </div>
      </form>
          <!-- jquery ui CSS -->
    <link href="/static/assets/vendor/jquery-ui/css/jquery-ui.min.css" rel="stylesheet">
    
    <!-- jquery ui JavaScript -->
    <script src="/static/assets/vendor/jquery-ui/js/jquery-ui.min.js"></script>
<script>
	$(document).ready(function(){
	   $("#addMenu").validate({
	      rules: {
					order_sequence:{digits:$("#orderSequence").val()},
				},
				submitHandler : function(form) {
				  $('button').prop('disabled',true);
				  form.submit();
				}
	   });
     	// $.get('/portal/cuisines_list',function(data) {
      //     $.each(data.cuisines,function(idx,val){
      //       $("select[name='cuisine']").append('<option value="'+val.id+'">'+val.title+'</option>');
      //     });
      // });
      // Group List
      $.get('/portal/menu_group_list_data/'+$("input[name='restaurant_id']").val(),function(data) {
        $.each(data,function(idx,val){
          $("select[name='menu_group_id']").append('<option value="'+val.id+'">'+val.name+'</option>');
        });
      });
    //get uint list
    $( "input[name='unit']" ).autocomplete({
      source: "/portal/unit_list",
      minLength: 2,
      select: function( event, ui ) {
        $("input[name='unit_id']").val(ui.item.id);
      }
    });
    $("input[name='unit']" ).keyup(function(){
      $("input[name='unit_id']").val(0);
    });
	});
</script>
