       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Outlet</h4>
      </div>
      <form role="form" method="post" action="/portal/restaurant/add" id="addRestaurant" name="addRestaurant" enctype="multipart/form-data" >
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
              
              <%if(SessionData.user_type=='2'){%>
              <input  type="hidden" name="foodcourt" class="form-control required" autofocus >
              <%}else{%>
              <div class="col-md-6">
                <div class="form-group">
                    <label>Foodcourt:</label>
                    <select class="form-control required" name="foodcourt">
                        <option value="">---Select Foodcourt---</option>
                    </select>
                </div>
                </div>
                <%}%>
                
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Name:</label>
                  <input  type="text" name="full_name" class="form-control required" autofocus >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Email:</label>
                  <input  type="email" name="email" class="form-control required email"  id="email">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Password:</label>
                  <input  type="password" name="password" id="password" class="form-control required" >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Confirm Password:</label>
                  <input  type="password" name="cpassword" class="form-control required" >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Phone Number:</label>
                  <input  type="text" name="phone_no" class="form-control required number" >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Contact Person:</label>
                  <input  type="text" name="contact_person" class="form-control" >
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label>State:</label>
                    <select class="form-control required" name="state">
                        <option value="">---Select State---</option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label>City:</label>
                    <select class="form-control required" name="city">
                        <option value="">---Select City---</option>
                    </select>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Zip:</label>
                  <input type="text" class="form-control required" name="zip">
                </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Description:</label>
                    <textarea name="description" class="form-control" ></textarea>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary cancel" data-dismiss="modal">Cancel</button>
      </div>
      </form>
<script>
	$(document).ready(function(){
	   $("#addRestaurant").validate({
				rules: {
					cpassword:{equalTo: "#password"},
				},
				submitHandler : function(form) {
				  $('button').prop('disabled',true);
				   $.post('/portal/emailexist',{email:$('#email').val()},function(data) {
          if(data.status){
            $('#email').after('<label for="email" generated="true" class="error">Email address exist, please enter other email address.</label>');
            $('button').prop('disabled',false);
          } else {
            form.submit();
          }
        });
				}
			});
     	$.get('/portal/state',function(data) {
          $.each(data.state,function(idx,val){
            $("select[name='state']").append('<option value="'+val.id+'">'+val.name+'</option>');
          });
      });
      
     
      
   	  $('select[name="state"]').change(function(){
        $("select[name='city']").html('<option value="">---Select City---</option>');
      	$.get('/portal/city/'+$(this).val(),function(data) {
            $.each(data.city,function(idx,val){
              $("select[name='city']").append('<option value="'+val.id+'">'+val.name+'</option>');
            });
          });
      });
	});
</script>
<%if(SessionData.user_type!=='2'){%>
<script>
   $.get('/portal/foodcourt_list',function(data) {
          $.each(data.foodcourt,function(idx,val){
             $("select[name='foodcourt']").append('<option value="'+val.id+'">'+val.full_name+'</option>');
         });
      });
</script>
<%}%>