<!DOCTYPE html>
<html lang="en" data-ng-app='feedcourt'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>welcome to feedcourt</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/static/assets/css/style.css" rel="stylesheet">
    
    <!-- jquery JavaScript -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>

</head>

<body>
    <!--------Page Content -------->
        <div class="big-logo">feedcourt</div>
        
<!-----./Modal Pop-Up------->
<div id="popup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" id="pop-content">
    </div>
  </div>
</div>
<!-----./Modal Pop-Up------->

    <!-- bootstrap JavaScript -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery validator -->
    <script src="/static/assets/vendor/jquery.validate.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/common.js"></script>
    

</body>

</html>
