<div id="wrapper">
  <!-- Navigation -->
    <div data-ng-include="'templates/header_with_left.html'"></div>
    <div id="wrapper">
      <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header page_title">Add New FoodCourt</h1>
            </div>
            <div class="col-lg-2 add_btn" >
              <a class="btn btn-success" href="#/foodcourts">Back</a>
            </div>
        </div>
        <div class="row">
          <!-- <div class="col-lg-11"> -->
            <div class="col-md-5 col-md-offset-2">
              <div data-ng-if="addreturn.status=='success'"><p>{{addreturn.message}}</p></div>

              <!-- <form  data-ng-submit="foodcourtCtrl.addFoodcourt()" name="form">
                Upload on form submit or button click
  Single Image with validations
  <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</div>
  Multiple files
  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
  Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
  <button type="submit" >submit</button>
</form> -->


            <form role="form" method="post" data-ng-submit="foodcourtCtrl.addFoodcourt()" name="addFoodcourtForm" enctype="multipart/form-data">
              <input  type="hidden"  ng-model="token">
                <div class="form-group">
                  <label class="control-label">Name:</label>
                  <input  type="text" class="form-control" data-ng-required="true" autofocus data-ng-model="foodcourtCtrl.dataInput.full_name">
                </div>
                <div class="form-group">
                  <label class="control-label">Email:</label>
                  <input type="email" class="form-control"  autofocus data-ng-model="foodcourtCtrl.dataInput.email" data-ng-required="true">
                </div>
                <div class="form-group">
                  <label class="control-label">Password:</label>
                  <input type="password" class="form-control" type="email" autofocus data-ng-model="foodcourtCtrl.dataInput.password" data-ng-required="true">
                </div>
                <div class="form-group">
                  <label class="control-label">Phone Number:</label>
                  <input type="number" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" data-ng-required="true" autofocus data-ng-model="foodcourtCtrl.dataInput.phone_no">
                </div>
                <div class="form-group">
                    <label>State:</label>
                    <select class="form-control" data-ng-required="true" autofocus data-ng-model="foodcourtCtrl.dataInput.state_id" data-ng-change="foodcourtCtrl.getCities(foodcourtCtrl.dataInput.state_id)" data-ng-options="state.id as state.name for state in states.data">
                        <option value="">---Select State---</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>City:</label>
                    <select class="form-control" data-ng-required="true" autofocus data-ng-model="foodcourtCtrl.dataInput.city_id" data-ng-options="city.id as city.name for city in cities.data">
                        <option value="">---Select City---</option>
                    </select>
                </div>
                <div class="form-group">
                  <label class="control-label">Zip:</label>
                  <input type="number" class="form-control" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" data-ng-required="true" autofocus data-ng-model="foodcourtCtrl.dataInput.zip_code">
                </div>
                <div class="form-group">
                  <label class="control-label">Image:</label>
                  <input type="file" class="form-control"  data-ng-model="foodcourtCtrl.dataInput.image" data-ng-required="true" name="image">
                </div>

                <div class="form-group">
                  <button type="submit"  class="btn btn-primary">Submit</button>
                </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>


// <script>
// 		$(document).ready(function(){
// 			$("#addForm").validate({
// 				errorPlacement: function(error,element) {
// 					return true;
// 				}
// 			});
// </script>