<div id="wrapper">
    <!-- Navigation -->
      <div data-ng-include="'templates/header_with_left.html'"></div>
      <div id="wrapper">
          <div id="page-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <h1 class="page-header page_title"><span data-ng-show="restaurants.data[0].foodcourt.full_name !=undefined && restaurants.data[0].foodcourt.full_name!='' ">{{restaurants.data[0].foodcourt.full_name | uppercase}} &nbsp;</span>Restaurant List</h1>
                  </div>
                  <div class="col-lg-2 list_back_btn"  data-ng-if="restaurants.data[0].foodcourt.full_name !=undefined && restaurants.data[0].foodcourt.full_name!='' ">
                    <a class="btn btn-outline btn-danger" href="#/foodcourts">Back</a>
                  </div>
              </div>

            <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-default">
            <!--<div class="panel-heading">
            Basic Table
            </div>-->
            <div class="panel-body">
            <div class="table-responsive">
            <div class="form-group col-lg-4">
            <input type="text" class="form-control" name="searchKeyword" data-ng-model="searchKeyword" placeholder="Search">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>
                          <a href="" data-ng-click="reverse=false;order('name', false)">Name</a>
                					(<a href="" data-ng-click="order('-name',false)">^</a>)
                        </th>
                        <th>
                          <a href="" data-ng-click="reverse=false;order('email', false)">Email</a>
                					(<a href="" data-ng-click="order('-email',false)">^</a>)
                        </th>
                        <th>Phone</th>
                        <th>Rate</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="restaurants.data.length<=0 || !restaurants"><td align="center" colspan="6">No Result Found.</td></tr>
                    <tr data-ng-repeat="restaurant in restaurants.data | orderBy:['+name','+email'] | filter:searchKeyword">
                          <td>{{$index+1}}</td>
                          <td>
                              <!-- <div class = "col-sm-4 col-md-4">
                                <div class = "thumbnail">
                                   <img src="../../static/assets/upload/xx.jpg">
                                </div>
                                <div class = "caption"> {{restaurant.full_name}}</div>
                              </div> -->
                              <span data-ng-show="restaurant.full_name.length > 0 ">{{restaurant.full_name}}</span>
                              <span data-ng-show="restaurant.full_name.length < 1 || !restaurant.full_name">---</span>
                          </td>
                          <td>
                            <span data-ng-show="restaurant.email.length > 0 ">{{restaurant.email}}</span>
                            <span data-ng-show="restaurant.email.length < 1 || !restaurant.email">---</span>
                          </td>
                          <td>
                            <span data-ng-show="restaurant.phone_no.length > 0 ">{{restaurant.phone_no}}</span>
                            <span data-ng-show="restaurant.phone_no.length < 1 || !restaurant.phone_no">---</span>
                          </td>
                          <td>
                            <div class="rating-container rating-sm rating-animate">
                              <div class="rating">
                                <span class="empty-stars">
                                  <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                                </span>
                                <span class="filled-stars" style="width: 40%;">
                                  <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                  <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                                </span>
                              </div>
                            </div>
                          </td>
                          <td>
                              <a href="javascript:void(0)" data-ng-click="restaurantCtrl.viewDetail(restaurant)" alt="View Detail" title="View Detail" data-toggle="modal" data-target="#viewDetail"><img src="./static/assets/images/info.png" class="status_icon"></a>
                              <a href="#restaurant/orders/{{restaurant.id}}"  alt="View Orders" title="View Orders"><img src="./static/assets/images/order_64.png" class="status_icon"></a>
                              <a href="javascript:void(0)"  data-ng-click="restaurantCtrl.changeStatus(restaurant)">
                                <img src="./static/assets/images/inactive_32.png" class="status_icon" data-ng-if="restaurant.status==0" alt="Click to Active" title="Click to Active">
                                <img src="./static/assets/images/active_32.png" class="status_icon" data-ng-if="restaurant.status==1" alt="Click to Inactive" title="Click to Inactive">
                              </a>
                        </td>
                      </tr>
                </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
            </div>
          </div>
      </div>
</div>

<!-----./Modal Pop-Up------->
<div id="viewDetail" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detail Info</h4>
      </div>
      <div class="modal-body" data-ng-if="restaurantCtrl.restaurantDetail">
      <div class="col-lg-12">
          <div class="col-xs-7 modal-image-container">
              <a href="javascript:void(0)" class="thumbnail">
                  <img src="../../static/assets/upload/xx.jpg" class="img-rounded center-block" alt="Cinque Terre">
              </a>
          </div>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{restaurantCtrl.restaurantDetail.full_name}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{restaurantCtrl.restaurantDetail.email}}</td>
                </tr>
                <tr>
                    <td>Phone-no</td>
                    <td>{{restaurantCtrl.restaurantDetail.phone_no}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{restaurantCtrl.restaurantDetail.addresses.state.name}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{restaurantCtrl.restaurantDetail.addresses.city.name}}</td>
                </tr>
                <tr>
                    <td>Total Rate</td>
                    <td>{{restaurantCtrl.restaurantDetail.total_rate}}</td>
                </tr>
                <tr>
                    <!-- <td>Avg. Rate</td>
                    <td>{{restaurantCtrl.restaurantDetail.avg_rate}}</td> -->
                </tr>
                <tr>
                    <td>Avg. Rate</td>
                    <td>
                      <div class="rating-container rating-sm rating-animate">
                        <div class="rating">
                          <span class="empty-stars">
                            <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star-empty"></i></span>
                          </span>
                          <span class="filled-stars" style="width: 40%;">
                            <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                            <span class="star"><i class="glyphicon glyphicon-star"></i></span>
                          </span>
                        </div>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-----./Modal Pop-Up------->
